#sidebar {
    float: left;
    width: 25%;
    padding: 20px;
    font-size: 20px;
}

#content {
    padding: 20px;
    float: right;
    width: 75%;
    height: 95%;
}

#angular-content{
    height: 100%;
}

#main-wrap {
    position: fixed;
    width: 1200px;
    height: 700px;
    border: 1px solid #ccc;
    background-color: #f3f3f3;
}

.collapse {
    font-size: 15px;
}

.fa.fa-clone, .fa.fa-home, .fa.fa-eur, .fa.fa-long-arrow-down {
    font-size: 30px;
}

.fa.fa-caret-down {
    overflow: auto;
}

#content-title {
    text-align: center;
    width: 100%;
    height: 50px;
    background-color: #3E95CD;
    font-size: 35px;
    color: white;
}

.list-group-item {
    background-color: #f1f9fb;
    border-top: 1px solid #0091b5;
    border-left-color: #fff;
    border-right-color: #fff;
}

.table-list td {
    padding: 20px;
    border: 1px solid grey;
}

.table-list table, .table-list th, .table-list tr {
    border-collapse: separate;
    width: 100%;
    border: 1px solid grey;
    margin: 10px;
}

.table-list table tr:nth-child(odd) {
    background-color: #f1f1f1;
}

.table-list table tr:nth-child(even) {
    background-color: #ffffff;
}

.table-list tbody {
    height: 375px;
    overflow: auto;
    display: table;
    width: 100%;
    table-layout: fixed;
}

.table-list .tableBodyScroll tbody {
    display: block;
    height: 500px;
    overflow-y: scroll;
}

.table-list .tableBodyScroll thead, .table-list tbody tr {
    display: table;
    width: 98%;
    table-layout: fixed;
}

#login-page {
    position: absolute;
    top: 40%;
    left: 40%;
    border: solid black;
    border-bottom-width: 2px;
    padding: 10px;
}

#sign-up-form {
    float: right;
    overflow: auto;
}

#sign-up-form input {
    display: block;
}

#sign-up-form > * {
    margin: 10px;
}

#register-form {
    float: right;
    overflow: auto;
    display: none;
}

#register-form input {
    display: block;
}

#register-form > * {
    margin: 10px;
}

#error-login-label {
    display: none;
    color: red;
}

#upload-form{
    position: absolute;
    top: 40%;
    left: 40%;
}

#error-import-file{
    display: none;
    color: red;
}

#success-import-file{
    display: none;
    color: forestgreen;
}

#home-user-detail{
    position: relative;
    height: 100%;
}

#home-user-detail #user-details{
    width: 100%;
    height: 50%;
    overflow: auto;
    margin: auto;
    padding: 10px;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}

#home-user-detail #user-details table td {
    padding: 10px;
}

#balance-change{
    display: none;
}

#balance-change > *{
    margin: 10px;
    padding: 5px;
}

#user-details table {
    border-collapse: collapse;
    font-size: 25px;
}
#user-details th,
#user-details td {
    border-bottom: 1px solid #cecfd5;
    padding: 10px 15px;
}
#user-details th {
    font-weight: bold;
}
#user-details tfoot tr:last-child td {
    border-bottom: 0;
}

#logout-form{
    margin-top: 300px;
    width: 25%;
}

#logout-button{
    color: white;
    background-color: #3E95CD;
    border: none;
    padding: 15px 32px;
    width: 260px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}