#sidebar {
    float: left;
    width: 25%;
    padding: 20px;
    font-size: 20px;
}

#content {
    padding: 20px;
    float: right;
    width: 75%;
}

#main-wrap {
    position: fixed;
    width: 1200px;
    height: 600px;
    border: 1px solid #ccc;
    background-color: #f3f3f3;
}

.collapse {

    font-size: 15px;
}

.fa.fa-clone, .fa.fa-home, .fa.fa-eur, .fa.fa-long-arrow-down {
    font-size: 30px;
}

.fa.fa-caret-down {
    overflow: auto;
}

#content-title {
    text-align: center;
    width: 100%;
    height: 50px;
    background-color: #3E95CD;
    font-size: 35px;
    color: white;
}

.list-group-item {
    background-color: #f1f9fb;
    border-top: 1px solid #0091b5;
    border-left-color: #fff;
    border-right-color: #fff;
}

td {
    padding: 20px;
    border: 1px solid grey;
}

table, th, tr {
    border-collapse: separate;
    width: 100%;
    border: 1px solid grey;
    margin: 10px;
}

table tr:nth-child(odd) {
    background-color: #f1f1f1;
}

table tr:nth-child(even) {
    background-color: #ffffff;
}

tbody {
    height: 375px;
    overflow: auto;
    display: table;
    width: 100%;
    table-layout: fixed;
}

.tableBodyScroll tbody {
    display: block;
    max-height: 400px;
    overflow-y: scroll;
}

.tableBodyScroll thead, tbody tr {
    display: table;
    width: 98%;
    table-layout: fixed;
}