<div id="content-title">
    {{message}}
</div>
<div class="table-list">
    <button class="btn btn-sm btn-danger" data-ng-confirm-click="Are you sure to delete selected rows?" data-confirmed-click="deleteCheckedTransactions()">Delete checked</button>
    <table class="table table-bordered table-striped tableBodyScroll">
        <thead>
        <tr>
            <td width=30>
                <input id="check-all" type="checkbox" ng-click="selectAll()"/>
            </td>
            <td>date</td>
            <td>description</td>
            <td>price</td>
            <td>category</td>
            <td>type</td>
        </tr>
        </thead>

        <tbody>
        <tr data-ng-repeat="transaction in allTransactions">
            <td width=30>
                <input id="checkbox_{{transaction.transactionId}}" ng-model="selectedAll" type="checkbox" value="{{transaction.transactionId}}" ng-click="toggleSelection(transaction.transactionId)"/>
            </td>
            <td>{{ transaction.date }}</td>
            <td>{{ transaction.description }}</td>
            <td>{{ transaction.price }}</td>
            <td>{{ transaction.categoryId }}</td>
            <td>{{ transaction.type }}</td>
        </tr>
        </tbody>

    </table>
</div>