<div id="content-title">
    {{message}}
</div>

<div>
    <table class="table table-bordered table-striped tableBodyScroll">
        <thead>
        <tr>
            <td width=30>
                <input id="check-all-categories" type="checkbox" ng-click="selectAll()"/>
            </td>
            <td width=50>
                <a data-target="#all-categories" data-ng-click="sortType = 'categoryId'">
                    ID
                    <span data-ng-show="sortType == 'categoryId'" data-ng-click="sortReverse = !sortReverse" class="fa fa-caret-down"></span>
                </a>
            </td>
            <td>
                <a data-target="#all-categories" data-ng-click="sortType = 'name'">
                    Name
                    <span data-ng-show="sortType == 'name'" data-ng-click="sortReverse = !sortReverse" class="fa fa-caret-down"></span>
                </a>
            </td>
            <td>
                <a data-target="#all-categories" data-ng-click="sortType = 'color'">
                    Color
                    <span data-ng-show="sortType == 'color'" data-ng-click="sortReverse = !sortReverse" class="fa fa-caret-down"></span>
                </a>
            </td>
            <td width=80>
                <a data-target="#all-categories">
                    Delete
                </a>
            </td>
            <td width=80>
                <a data-target="#all-categories">
                    Edit
                </a>
            </td>
        </tr>
        </thead>

        <tbody>
        <tr data-ng-repeat="category in categories  | orderBy:sortType:sortReverse">
            <td width=30>
                <input id="checkbox_{{category.categoryId}}" ng-model="selectedAllCategories" ng-checked="selectedAllCategories" type="checkbox" value="{{category.categoryId}}" ng-click="toggleSelection(category.categoryId)"/>
            </td>
            <td width=50>{{ category.categoryId}}</td>
            <td>{{ category.name }}</td>
            <td>{{ category.color }}</td>
            <td width=80>
                <button class="btn btn-sm btn-danger" data-ng-confirm-click="Deleting category with assigned transactions can delete them. Are you sure to delete this record?" data-confirmed-click="deleteCategory(category.categoryId)">Delete</button>
            </td>
            <td width=80>
                <button class="btn btn-sm btn-primary" data-confirmed-click="">Edit</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>